body{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    max-height: 100%;
}
h6 {
    
    margin: -7px 40px 4px !important;
}
.cart {
max-width: 25px;
max-height: 25px;
}

a {
    color:#000;
    text-decoration: none !important;
}

.allInputs {
    margin: 100px auto auto auto;
    width: 1200px !important;
    display:block;

}

.thumbnail {
    max-width: 60px;
    max-height: 60px;
}

#form1{
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.navbar-custom {
--bs-navbar-padding-x: 0;
--bs-navbar-padding-y: 0.5rem;
--bs-navbar-color: var rgba(0, 128, 128, 0.493);
--bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
--bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
--bs-navbar-active-color: rgba(0, 0, 0, 0.9);
--bs-navbar-brand-padding-y: 0.3125rem;
--bs-navbar-brand-margin-end: 1rem;
--bs-navbar-brand-font-size: 1.25rem;
--bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
--bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
--bs-navbar-nav-link-padding-x: 0.5rem;
--bs-navbar-toggler-padding-y: 0.25rem;
--bs-navbar-toggler-padding-x: 0.75rem;
--bs-navbar-toggler-font-size: 1.25rem;
--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
--bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
--bs-navbar-toggler-border-radius: 0.375rem;
--bs-navbar-toggler-focus-width: 0.25rem;
--bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
background-color: rgba(0, 128, 128, 0.473);
}
.navbar-custom > .container,
.navbar-custom > .container-fluid,
.navbar-custom > .container-sm,
.navbar-custom > .container-md,
.navbar-custom > .container-lg,
.navbar-custom > .container-xl,
.navbar-custom > .container-xxl {
display: flex;
flex-wrap: inherit;
align-items: center;
justify-content: space-between;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;


}

.hidden {
    display: none;
    text-align: center;

}

.backgroundLoader {
    position: fixed;
    background-color: rgba(255, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    text-align: center;


}

.product {
    max-width: 90%;
    height: 400px;
    padding: 10px;
}

.boxBorder {
    border: solid #f0decb 1px;
}

#showProducts .imgProd {
    max-width: 280px;
    max-height: 280px;
}
.products{
    margin:auto;
    width: 200px;
    height: 200px;
}
.carouselProduse{
    max-width: 500px;
    max-height: 700px;
    margin: 20px auto;
    color: black;
   
}
.carouselProduse2{
    max-width: 400px;

    max-height: 418px !important;

    max-height: 430px !important;

    margin: 20px auto;
    color: black;
   
}

#articole{
    width: 50%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    margin: 100px auto;
    text-align: justify;
}
.productStore{
    max-width: 100% !important;
    max-height: 300px;
    margin: 20px;
    

    
    
}

#biscuits {
    max-width: 300px;
    max-height: 300px;
    margin: 20px;
    
    display: flex;
}
.carousel2{
    display: flex;
    width: 100%;
}
.carousel-cont{
    max-height: 300px;
    
}

:root {
    --primary:darkslategray;
    --secondary: #F65005;
    --light: #F7F8FC;
    --dark: #111111;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.bg-icon {
    background: url(../img/bg-icon.png) center center repeat;
    background-size: contain;
}


#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.smButton{
    max-width: 20px;
    max-height: 20px;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    color: #FFFFFF;
    background-color: rgba(0, 128, 128, 0.473);
    border-color: rgba(0, 128, 128, 0.473);
    box-shadow: darkslategray;
}

.btn-outline-primary {
    --bs-btn-color: rgba(0, 128, 128, 0.473);
    --bs-btn-border-color: rgba(0, 128, 128, 0.473);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(0, 128, 128);;
    --bs-btn-hover-border-color: darkslategray;
    --bs-btn-focus-shadow-rgb: 0, 128, 128;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:darkslategray;
    --bs-btn-active-border-color:darkslategray;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: darkslategray;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
    
}

/*** Product ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.product-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.product-item img {
    transition: .5s;
}

.product-item:hover img {
    transform: scale(1.1);
}

.product-item small a:hover {
    color: var(--primary) !important;
}

#row{
    display: flex;
    flex-wrap: nowrap !important;
}

body{
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    max-height: 100%;
}
h6 {
    
    margin: -7px 40px 4px !important;
}
.cart {
max-width: 25px;
max-height: 25px;
}

a {
    color:#000;
    text-decoration: none !important;
}

.allInputs {
    margin: 100px auto auto auto;
    width: 1200px !important;
    display:block;

}

.thumbnail {
    max-width: 60px;
    max-height: 60px;
}

#form1{
    margin-left: 5px !important;
    margin-right: 5px !important;
}
.navbar-custom {
--bs-navbar-padding-x: 0;
--bs-navbar-padding-y: 0.5rem;
--bs-navbar-color: var rgba(0, 128, 128, 0.493);
--bs-navbar-hover-color: rgba(0, 0, 0, 0.7);
--bs-navbar-disabled-color: rgba(0, 0, 0, 0.3);
--bs-navbar-active-color: rgba(0, 0, 0, 0.9);
--bs-navbar-brand-padding-y: 0.3125rem;
--bs-navbar-brand-margin-end: 1rem;
--bs-navbar-brand-font-size: 1.25rem;
--bs-navbar-brand-color: rgba(0, 0, 0, 0.9);
--bs-navbar-brand-hover-color: rgba(0, 0, 0, 0.9);
--bs-navbar-nav-link-padding-x: 0.5rem;
--bs-navbar-toggler-padding-y: 0.25rem;
--bs-navbar-toggler-padding-x: 0.75rem;
--bs-navbar-toggler-font-size: 1.25rem;
--bs-navbar-toggler-icon-bg: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%280, 0, 0, 0.55%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
--bs-navbar-toggler-border-color: rgba(0, 0, 0, 0.1);
--bs-navbar-toggler-border-radius: 0.375rem;
--bs-navbar-toggler-focus-width: 0.25rem;
--bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
position: relative;
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
padding: var(--bs-navbar-padding-y) var(--bs-navbar-padding-x);
background-color: rgba(0, 128, 128, 0.473);
}
.navbar-custom > .container,
.navbar-custom > .container-fluid,
.navbar-custom > .container-sm,
.navbar-custom > .container-md,
.navbar-custom > .container-lg,
.navbar-custom > .container-xl,
.navbar-custom > .container-xxl {
display: flex;
flex-wrap: inherit;
align-items: center;
justify-content: space-between;
}

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid blue;
    border-right: 16px solid green;
    border-bottom: 16px solid red;
    border-left: 16px solid pink;
    width: 60px;
    height: 60px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: 0 auto;


}

.hidden {
    display: none;
    text-align: center;

}

.backgroundLoader {
    position: fixed;
    background-color: rgba(255, 0, 0, 0.2);
    width: 100%;
    height: 100%;
    text-align: center;


}

.product {
    max-width: 90%;
    height: 400px;
    padding: 10px;
}

.boxBorder {
    border: solid #f0decb 1px;
}

#showProducts .imgProd {
    max-width: 280px;
    max-height: 280px;
}
.products{
    margin:auto;
    width: 200px;
    height: 200px;
}
.carouselProduse{
    max-width: 500px;
    max-height: 700px;
    margin: 20px auto;
    color: black;
   
}
.carouselProduse2{
    max-width: 350px;
    max-height: 400px !important;
    margin: 20px auto;
    color: black;
   
}

#articole{
    width: 50%;
    height: 40%;
    background-color: rgba(255, 255, 255, 0);
    color: #000;
    margin: 100px auto;
    text-align: justify;
}
.productStore{
    max-width: 100% !important;
    max-height: 300px;
    margin: 20px;
    

    
    
}

#biscuits {
    max-width: 300px;
    max-height: 300px;
    margin: 20px;
    
    display: flex;
}
.carousel2{
    display: flex;
    width: 100%;
}
.carousel-cont{
    max-height: 300px;
    
}

:root {
    --primary:darkslategray;
    --secondary: #F65005;
    --light: #F7F8FC;
    --dark: #111111;
}

.back-to-top {
    position: fixed;
    display: none;
    right: 30px;
    bottom: 30px;
    z-index: 99;
}

.my-6 {
    margin-top: 6rem;
    margin-bottom: 6rem;
}

.py-6 {
    padding-top: 6rem;
    padding-bottom: 6rem;
}

.bg-icon {
    background: url(../img/bg-icon.png) center center repeat;
    background-size: contain;
}


#spinner {
    opacity: 0;
    visibility: hidden;
    transition: opacity .5s ease-out, visibility 0s linear .5s;
    z-index: 99999;
}

#spinner.show {
    transition: opacity .5s ease-out, visibility 0s linear 0s;
    visibility: visible;
    opacity: 1;
}

.smButton{
    max-width: 20px;
    max-height: 20px;
}


/*** Button ***/
.btn {
    font-weight: 500;
    transition: .5s;
}

.btn-square {
    width: 38px;
    height: 38px;
}

.btn-sm-square {
    width: 32px;
    height: 32px;
}

.btn-lg-square {
    width: 48px;
    height: 48px;
}

.btn-square,
.btn-sm-square,
.btn-lg-square {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: normal;
}

.btn-check:active+.btn, .btn-check:checked+.btn, .btn.active, .btn.show, .btn:active {
    color: #FFFFFF;
    background-color: rgba(0, 128, 128, 0.473);
    border-color: rgba(0, 128, 128, 0.473);
    box-shadow: darkslategray;
}

.btn-outline-primary {
    --bs-btn-color: rgba(0, 128, 128, 0.473);
    --bs-btn-border-color: rgba(0, 128, 128, 0.473);
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: rgb(0, 128, 128);;
    --bs-btn-hover-border-color: darkslategray;
    --bs-btn-focus-shadow-rgb: 0, 128, 128;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg:darkslategray;
    --bs-btn-active-border-color:darkslategray;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: darkslategray;
    --bs-btn-disabled-bg: transparent;
    --bs-gradient: none;
    
}

/*** Product ***/
.nav-pills .nav-item .btn {
    color: var(--dark);
}

.nav-pills .nav-item .btn:hover,
.nav-pills .nav-item .btn.active {
    color: #FFFFFF;
}

.product-item {
    box-shadow: 0 0 45px rgba(0, 0, 0, .07);
}

.product-item img {
    transition: .5s;
}

.product-item:hover img {
    transform: scale(1.1);
}

.product-item small a:hover {
    color: var(--primary) !important;
}

#row{
    display: flex;
    flex-wrap: nowrap !important;
}

/*Spinner https://www.cssscript.com/demo/beautiful-creative-loaders/*/

.loader {
    width: 48px;
    height: 48px;
    display: block;
    margin:15px auto;
    position: relative;
    color: #FFF;
    box-sizing: border-box;
    animation: rotation 1s linear infinite;
  }
  .loader::after,
  .loader::before {
    content: '';  
    box-sizing: border-box;
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    left: 50%;
    transform: scale(0.5) translate(0, 0);
    background-color: #FFF;
    border-radius: 50%;
    animation: animloader 1s infinite ease-in-out;
  }
  .loader::before {
    background-color: #000000;
    transform: scale(0.5) translate(-48px, -48px);
  }
  
  @keyframes rotation {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  } 
  @keyframes animloader {
      50% {
        transform: scale(1) translate(-50%, -50%);
  }
  }
  .backgroundLoader{
    position: fixed;
    width: 100%;
    height: 100%;
    text-align: center;

  }

  .hidden {
    display: none;
    text-align: center;
}

      